@font-face
{
	font-family : FiraSansRegular;
	src : url(../fonts/FiraSans-Regular.woff);
}

@font-face
{
	font-family : FiraSansLight;
	src : url(../fonts/FiraSans-Light.woff);
}

html
{
	height : 100%;
	font-family : Arial, cursive;
}

body
{
	color : #000000;
	background : #ffffff;
	margin : 0px;
	height : 100%;
	display : block;
}

div.page
{
	display : none;
}

div.menu
{
	color : #ffffff;
	background : #cd6723;
	background : -moz-linear-gradient(top, #cd6723, #bb482d);
	font-family : FiraSansRegular;
	font-size : 29px;
	box-shadow: 0px 0px 3px #000000;
	width : 100%;
	overflow: auto;
}

div.text
{
	float : left;
	padding : 10px;
}

div.content
{
	font-family: FiraSansLight;
	font-size : 25px;
	overflow : auto;
}

div.lefticonbutton
{
	float : left;
	display : block;
	padding : 10px;
}

div.righticonbutton
{
	float : right;
	display : block;
	padding : 10px;
}

div.messagetext
{
	font-size : 30px;
	text-align : center;
	margin : 30px;
}

a.button
{
	color : #ffffff;
	background : #008ab8;
	font-size : 30px;
	text-align : center;
	display : block;
	padding : 10px;
	margin : 30px;
	border-radius : 5px;
}

div.statusbar
{
	color : #000000;
	background : #dddddd;
	text-align : center;
	width : 100%;
	overflow: auto;
}

div.statusbarleft
{
	padding : 10px;
	float : left;
}

div.statusbarright
{
	padding : 10px;
	float : right;
}

div.question
{
	font-size : 60px;
	text-align : center;
	vertical-align : middle;
	padding : 10px;
	display : table-cell;
}

a.answer
{
	color : #ffffff;
	background : #008ab8;
	text-align : center;
	padding : 10px;
	margin-left : 5px;
	margin-bottom : 5px;
	border-radius : 5px;
	display : block;
	float : left;
}

a
{
	color : #000000;
	background : transparent;
	text-decoration : none;
}

img
{
	display : block;
	margin : 0px;
	padding : 0px;
	border : 0px;
}
